In [301]:
import pandas as pd

In [302]:
lire = pd.read_json("test.json")

In [303]:
lire = pd.DataFrame(lire)

In [304]:
lire.rename(columns={'Kilométrage': 'Kilométrage (en km)', 
                    'Puissance fiscale': 'Puissance fiscale (en Ch)',
                     'Garantie':'Garantie (en mois)',
                     'Emission de CO2':'Emission de CO2 (en g/km)',
                    'Prix': 'Prix (en €)'}, inplace=True)

In [305]:
lire

,Nom,Marque,Modèle,Mise en circulation,Kilométrage (en km),Énergie,Boite de vitesse,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,PEUGEOT 107,19/05/2009,68965 km,ESSENCE,MANUELLE,4 Ch,3 MOIS,106g/km,4 290 €
1,RENAULT CAPTUR 1.3 TCe 130 Ch FAP Red Edition,RENAULT,RENAULT CAPTUR,05/08/2019,22000 km,ESSENCE,MANUELLE,7 Ch,3 MOIS,128g/km,15 990 €
2,VOLKSWAGEN GOLF 1.0 TSI 115 CONNECT EDITION,VOLKSWAGEN,VOLKSWAGEN GOLF,11/02/2019,39539 km,DIESEL,MANUELLE,6 Ch,3 MOIS,107g/km,16 990 €
3,SKODA OCTAVIA 1.6 TDI 16V DSG7 105 ELEGANCE,SKODA,SKODA OCTAVIA,02/09/2013,134500 km,DIESEL,AUTOMATIQUE,5 Ch,3 MOIS,102g/km,9 990 €
4,MERCEDES CLASSE GLA 220 d 170ch Sensation 7G-DCT,MERCEDES,MERCEDES CLASSE GLA,05/04/2018,27000 km,DIESEL,AUTOMATIQUE,10 Ch,12 MOIS,110g/km,30 290 €
...,...,...,...,...,...,...,...,...,...,...,...
838,OPEL CORSA 1.4 90 Edition,OPEL,OPEL CORSA,19/01/2016,19000 km,ESSENCE,MANUELLE,5 Ch,NaN,122g/km,8 490 €
839,RENAULT MEGANE DCI 110 INTENS,RENAULT,RENAULT MEGANE,30/10/2017,64900 km,DIESEL,MANUELLE,5 Ch,3 MOIS,95g/km,13 990 €
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,PEUGEOT 308,28/12/2018,24800 km,ESSENCE,MANUELLE,6 Ch,3 MOIS,108g/km,17 990 €
841,BMW SERIE 4 Coupé 420dA 184ch Luxury 94510 kms,BMW,BMW SERIE 4,31/12/2014,94510 km,DIESEL,AUTOMATIQUE,10 Ch,3 MOIS,121g/km,20 490 €
842,TOYOTA YARIS Hybrid 100H Dynamic 5P,TOYOTA,TOYOTA YARIS,10/10/2013,84490 km,HYBRIDE,AUTOMATIQUE,3 Ch,12 MOIS,79g/km,9 490 €

# cree la colonne marque_id

In [306]:
for i in range(len(lire['Marque'])):
    lire['Marque'][i] = lire['Marque'][i].replace(' ','')

In [307]:
lire['Marque'].unique()

array(['PEUGEOT', 'RENAULT', 'VOLKSWAGEN', 'SKODA', 'MERCEDES', 'NISSAN',
       'BMW', 'FIAT', 'CITROEN', 'TOYOTA', 'AUDI', 'JEEP', 'SEAT',
       'DACIA', 'DODGE', 'HYUNDAI', 'SMART', 'OPEL', 'VOLVO', 'HONDA',
       'MINI', 'MAZDA', 'JAGUAR', 'ABARTH', 'SUZUKI', 'FORD', 'ISUZU',
       'PORSCHE', 'DS', 'ALFAROMEO', 'CHEVROLET', 'MPM', 'LANDROVER',
       'CUPRA', 'INFINITI', 'TESLA', 'KIA', 'CHRYSLER', 'LEXUS',
       'MITSUBISHI', 'MASERATI', 'ALPINERENAULT', 'AIXAM'], dtype=object)

In [308]:
len(lire['Marque'].unique())

43

In [309]:
marque_id_dic = dict()
for i in range(len(lire['Marque'].unique())):
    marque_id_dic.update({str(i) : lire['Marque'].unique()[i] })

In [310]:
marque_id_dic

{'0': 'PEUGEOT',
 '1': 'RENAULT',
 '2': 'VOLKSWAGEN',
 '3': 'SKODA',
 '4': 'MERCEDES',
 '5': 'NISSAN',
 '6': 'BMW',
 '7': 'FIAT',
 '8': 'CITROEN',
 '9': 'TOYOTA',
 '10': 'AUDI',
 '11': 'JEEP',
 '12': 'SEAT',
 '13': 'DACIA',
 '14': 'DODGE',
 '15': 'HYUNDAI',
 '16': 'SMART',
 '17': 'OPEL',
 '18': 'VOLVO',
 '19': 'HONDA',
 '20': 'MINI',
 '21': 'MAZDA',
 '22': 'JAGUAR',
 '23': 'ABARTH',
 '24': 'SUZUKI',
 '25': 'FORD',
 '26': 'ISUZU',
 '27': 'PORSCHE',
 '28': 'DS',
 '29': 'ALFAROMEO',
 '30': 'CHEVROLET',
 '31': 'MPM',
 '32': 'LANDROVER',
 '33': 'CUPRA',
 '34': 'INFINITI',
 '35': 'TESLA',
 '36': 'KIA',
 '37': 'CHRYSLER',
 '38': 'LEXUS',
 '39': 'MITSUBISHI',
 '40': 'MASERATI',
 '41': 'ALPINERENAULT',
 '42': 'AIXAM'}

In [311]:
marque_id = []
for val in lire['Marque'] :
    for key, value in marque_id_dic.items(): 
        if val == value :
            marque_id.append(int(key))

In [312]:
marque_id

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 1,
 7,
 8,
 9,
 1,
 10,
 10,
 8,
 11,
 0,
 12,
 6,
 0,
 8,
 4,
 12,
 2,
 7,
 13,
 4,
 14,
 15,
 6,
 3,
 6,
 9,
 4,
 6,
 4,
 2,
 12,
 10,
 1,
 16,
 17,
 1,
 2,
 2,
 4,
 1,
 18,
 12,
 4,
 10,
 19,
 17,
 20,
 10,
 6,
 21,
 1,
 10,
 10,
 17,
 15,
 4,
 6,
 15,
 4,
 10,
 6,
 0,
 1,
 6,
 6,
 10,
 0,
 4,
 4,
 18,
 20,
 9,
 4,
 1,
 1,
 22,
 4,
 12,
 7,
 20,
 8,
 8,
 6,
 4,
 21,
 6,
 1,
 6,
 5,
 22,
 6,
 6,
 0,
 4,
 7,
 10,
 4,
 23,
 2,
 6,
 0,
 4,
 5,
 1,
 2,
 7,
 24,
 2,
 0,
 6,
 20,
 25,
 2,
 8,
 8,
 6,
 10,
 2,
 8,
 15,
 22,
 4,
 2,
 0,
 22,
 21,
 26,
 6,
 25,
 2,
 27,
 1,
 4,
 4,
 0,
 17,
 1,
 25,
 0,
 27,
 0,
 8,
 0,
 17,
 20,
 10,
 23,
 1,
 28,
 0,
 0,
 6,
 29,
 6,
 2,
 6,
 2,
 7,
 4,
 25,
 4,
 2,
 4,
 15,
 4,
 1,
 8,
 1,
 6,
 27,
 10,
 2,
 0,
 1,
 2,
 25,
 14,
 2,
 28,
 13,
 6,
 6,
 4,
 1,
 4,
 10,
 30,
 25,
 5,
 17,
 11,
 0,
 2,
 6,
 6,
 0,
 2,
 12,
 28,
 1,
 1,
 6,
 28,
 0,
 15,
 15,
 1,
 1,
 7,
 1,
 6,
 4,
 10,
 2,
 20,
 4,
 31,
 10,
 17,
 4,
 6,
 0,
 0,
 5,
 18,
 4,
 2,
 10,
 2,
 17,
 5,
 21,
 25,
 1,
 28,
 0,
 6,
 8,
 6,
 19,
 6,
 8,
 1,
 32,
 13,
 1,
 13,
 2,
 8,
 5,
 10,
 20,
 17,
 10,
 1,
 7,
 20,
 7,
 6,
 0,
 2,
 27,
 4,
 10,
 6,
 10,
 1,
 0,
 24,
 4,
 33,
 4,
 6,
 4,
 28,
 6,
 25,
 2,
 12,
 34,
 2,
 5,
 25,
 8,
 1,
 35,
 22,
 6,
 36,
 4,
 5,
 0,
 0,
 10,
 13,
 1,
 27,
 1,
 0,
 10,
 25,
 37,
 6,
 4,
 8,
 36,
 0,
 27,
 10,
 25,
 20,
 15,
 8,
 12,
 4,
 8,
 1,
 10,
 0,
 36,
 38,
 12,
 11,
 29,
 9,
 17,
 6,
 6,
 25,
 2,
 20,
 28,
 6,
 10,
 4,
 11,
 0,
 10,
 8,
 1,
 5,
 0,
 2,
 20,
 10,
 0,
 0,
 36,
 20,
 0,
 4,
 21,
 32,
 10,
 10,
 2,
 10,
 9,
 7,
 1,
 2,
 32,
 21,
 25,
 1,
 8,
 0,
 0,
 24,
 2,
 2,
 19,
 12,
 5,
 17,
 10,
 10,
 27,
 5,
 2,
 0,
 6,
 8,
 28,
 8,
 8,
 8,
 1,
 1,
 0,
 1,
 1,
 3,
 2,
 8,
 6,
 4,
 25,
 32,
 10,
 0,
 1,
 9,
 24,
 3,
 36,
 4,
 0,
 1,
 17,
 1,
 8,
 17,
 0,
 13,
 10,
 0,
 10,
 6,
 2,
 12,
 2,
 0,
 2,
 28,
 28,
 28,
 0,
 20,
 20,
 29,
 8,
 8,
 17,
 0,
 22,
 18,
 1,
 20,
 34,
 4,
 0,
 10,
 2,
 1,
 6,
 8,
 17,
 10,
 0,
 0,
 0,
 8,
 0,
 2,
 13,
 17,
 25,
 10,
 17,
 0,
 5,
 25,
 7,
 12,
 10,
 16,
 10,
 1,
 10,
 36,
 2,
 25,
 39,
 1,
 24,
 6,
 7,
 0,
 1,
 24,
 10,
 0,
 10,
 10,
 0,
 8,
 0,
 1,
 6,
 2,
 7,
 4,
 8,
 4,
 13,
 4,
 9,
 0,
 1,
 0,
 10,
 6,
 40,
 5,
 6,
 1,
 21,
 13,
 4,
 2,
 20,
 1,
 4,
 5,
 0,
 10,
 7,
 41,
 2,
 0,
 10,
 20,
 8,
 1,
 25,
 13,
 27,
 0,
 10,
 0,
 0,
 20,
 8,
 1,
 10,
 0,
 6,
 16,
 0,
 4,
 2,
 6,
 6,
 0,
 20,
 6,
 6,
 2,
 1,
 36,
 20,
 20,
 2,
 10,
 0,
 20,
 4,
 7,
 10,
 19,
 5,
 2,
 4,
 27,
 8,
 6,
 1,
 29,
 17,
 0,
 0,
 0,
 12,
 17,
 4,
 0,
 5,
 6,
 4,
 27,
 6,
 10,
 10,
 1,
 10,
 0,
 0,
 1,
 1,
 4,
 8,
 19,
 2,
 0,
 25,
 3,
 17,
 0,
 11,
 5,
 6,
 5,
 6,
 4,
 32,
 8,
 8,
 1,
 13,
 0,
 0,
 8,
 42,
 4,
 4,
 29,
 0,
 4,
 4,
 10,
 4,
 8,
 10,
 2,
 6,
 18,
 5,
 2,
 9,
 4,
 6,
 0,
 1,
 5,
 22,
 20,
 4,
 2,
 13,
 25,
 25,
 4,
 36,
 17,
 10,
 10,
 1,
 8,
 10,
 16,
 4,
 0,
 0,
 2,
 8,
 1,
 0,
 25,
 4,
 12,
 29,
 2,
 5,
 4,
 0,
 5,
 10,
 7,
 10,
 1,
 8,
 4,
 0,
 8,
 0,
 4,
 6,
 1,
 13,
 8,
 8,
 20,
 25,
 25,
 0,
 28,
 4,
 0,
 25,
 36,
 0,
 0,
 10,
 0,
 32,
 1,
 9,
 4,
 15,
 4,
 9,
 6,
 0,
 0,
 12,
 2,
 6,
 11,
 0,
 1,
 1,
 2,
 20,
 25,
 0,
 9,
 42,
 0,
 4,
 2,
 8,
 6,
 25,
 0,
 1,
 7,
 0,
 28,
 0,
 1,
 20,
 10,
 1,
 7,
 6,
 0,
 10,
 1,
 8,
 4,
 10,
 2,
 0,
 0,
 7,
 2,
 13,
 6,
 17,
 5,
 1,
 1,
 6,
 3,
 0,
 1,
 1,
 0,
 17,
 5,
 6,
 0,
 8,
 1,
 10,
 10,
 36,
 4,
 2,
 25,
 5,
 9,
 8,
 9,
 10,
 17,
 0,
 17,
 0,
 8,
 4,
 1,
 2,
 1,
 0,
 1,
 0,
 0,
 25,
 6,
 10,
 3,
 8,
 25,
 0,
 0,
 8,
 7,
 6,
 30,
 0,
 15,
 1,
 0,
 10,
 18,
 4,
 10,
 12,
 4,
 1,
 10,
 2,
 7,
 0,
 17,
 1,
 25,
 0,
 1,
 11,
 6,
 30,
 25,
 0,
 0,
 17,
 0,
 10,
 13,
 17,
 1,
 0,
 6,
 9]

In [313]:
lire.insert(2,"marque_id",marque_id,True)

In [314]:
lire

,Nom,Marque,marque_id,Modèle,Mise en circulation,Kilométrage (en km),Énergie,Boite de vitesse,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,0,PEUGEOT 107,19/05/2009,68965 km,ESSENCE,MANUELLE,4 Ch,3 MOIS,106g/km,4 290 €
1,RENAULT CAPTUR 1.3 TCe 130 Ch FAP Red Edition,RENAULT,1,RENAULT CAPTUR,05/08/2019,22000 km,ESSENCE,MANUELLE,7 Ch,3 MOIS,128g/km,15 990 €
2,VOLKSWAGEN GOLF 1.0 TSI 115 CONNECT EDITION,VOLKSWAGEN,2,VOLKSWAGEN GOLF,11/02/2019,39539 km,DIESEL,MANUELLE,6 Ch,3 MOIS,107g/km,16 990 €
3,SKODA OCTAVIA 1.6 TDI 16V DSG7 105 ELEGANCE,SKODA,3,SKODA OCTAVIA,02/09/2013,134500 km,DIESEL,AUTOMATIQUE,5 Ch,3 MOIS,102g/km,9 990 €
4,MERCEDES CLASSE GLA 220 d 170ch Sensation 7G-DCT,MERCEDES,4,MERCEDES CLASSE GLA,05/04/2018,27000 km,DIESEL,AUTOMATIQUE,10 Ch,12 MOIS,110g/km,30 290 €
...,...,...,...,...,...,...,...,...,...,...,...,...
838,OPEL CORSA 1.4 90 Edition,OPEL,17,OPEL CORSA,19/01/2016,19000 km,ESSENCE,MANUELLE,5 Ch,NaN,122g/km,8 490 €
839,RENAULT MEGANE DCI 110 INTENS,RENAULT,1,RENAULT MEGANE,30/10/2017,64900 km,DIESEL,MANUELLE,5 Ch,3 MOIS,95g/km,13 990 €
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,0,PEUGEOT 308,28/12/2018,24800 km,ESSENCE,MANUELLE,6 Ch,3 MOIS,108g/km,17 990 €
841,BMW SERIE 4 Coupé 420dA 184ch Luxury 94510 kms,BMW,6,BMW SERIE 4,31/12/2014,94510 km,DIESEL,AUTOMATIQUE,10 Ch,3 MOIS,121g/km,20 490 €
842,TOYOTA YARIS Hybrid 100H Dynamic 5P,TOYOTA,9,TOYOTA YARIS,10/10/2013,84490 km,HYBRIDE,AUTOMATIQUE,3 Ch,12 MOIS,79g/km,9 490 €

In [315]:
lire['Marque'] = lire['Marque'].astype(str)

In [316]:
lire.dtypes

Nom                          object
Marque                       object
marque_id                     int64
Modèle                       object
Mise en circulation          object
Kilométrage (en km)          object
Énergie                      object
Boite de vitesse             object
Puissance fiscale (en Ch)    object
Garantie (en mois)           object
Emission de CO2 (en g/km)    object
Prix (en €)                  object
dtype: object

# cree la colonne modele_id

In [320]:
lire['Modèle'].unique()

array(['PEUGEOT 107', 'RENAULT CAPTUR', 'VOLKSWAGEN GOLF',
       'SKODA OCTAVIA', 'MERCEDES CLASSE GLA', 'NISSAN QASHQAI', 'BMW X3',
       'RENAULT MEGANE', 'FIAT 500', 'CITROEN C1', 'TOYOTA YARIS',
       'RENAULT Kadjar', 'AUDI Q3', 'AUDI TT', 'CITROEN C4',
       'JEEP Renegade', 'PEUGEOT 308', 'SEAT LEON', 'BMW SERIE 1',
       'PEUGEOT 2008', 'MERCEDES CLASSE C', 'SEAT IBIZA', 'DACIA LOGAN',
       'MERCEDES CLASSE CLA', 'DODGE RAM', 'HYUNDAI TUCSON',
       'BMW SERIE 3', 'SKODA FABIA', 'TOYOTA AURIS',
       'MERCEDES CLASSE GLC', 'BMW SERIE 4', 'MERCEDES CLASSE A',
       'VOLKSWAGEN SCIROCCO', 'AUDI A5', 'RENAULT GRAND SCENIC',
       'SMART FORTWO', 'OPEL Adam', 'RENAULT GRAND KANGOO',
       'VOLKSWAGEN TIGUAN', 'VOLKSWAGEN EOS', 'VOLVO XC60', 'SEAT ARONA',
       'HONDA CR-V', 'OPEL ASTRA', 'MINI MINI', 'AUDI Q2', 'BMW SERIE 6',
       'MAZDA CX-5', 'RENAULT CLIO', 'AUDI Q5', 'HYUNDAI KONA',
       'MERCEDES CLASSE CLS', 'BMW X1', 'HYUNDAI SANTA FE', 'AUDI TTS',
       'PEUGEOT 208', 'BMW X5', 'MERCEDES CLASSE M', 'MERCEDES 560',
       'RENAULT MASTER', 'JAGUAR XE', 'MERCEDES CLASSE E', 'CITROEN DS5',
       'MAZDA CX-3', 'BMW X6', 'NISSAN X-TRAIL', 'JAGUAR F-PACE',
       'BMW SERIE 2', 'AUDI A4', 'ABARTH 500', 'VOLKSWAGEN TOUAREG',
       'NISSAN JUKE', 'RENAULT TALISMAN', 'FIAT BRAVO', 'SUZUKI Vitara',
       'VOLKSWAGEN COCCINELLE', 'BMW M3', 'MINI MINI CABRIOLET',
       'FORD S-MAX', 'CITROEN JUMPY', 'CITROEN DS3', 'BMW SERIE 5',
       'VOLKSWAGEN UP!', 'CITROEN C3', 'HYUNDAI VELOSTER', 'MERCEDES SLK',
       'JAGUAR XF', 'ISUZU D-MAX', 'FORD FOCUS', 'VOLKSWAGEN POLO',
       'PORSCHE 911', 'PEUGEOT 3008', 'OPEL GT', 'FORD FIESTA',
       'PORSCHE CAYMAN', 'PEUGEOT ION', 'MINI MINI JOHN COOPER WORKS',
       'AUDI A3', 'DS DS3', 'PEUGEOT 5008', 'ALFA ROMEO MITO',
       'VOLKSWAGEN TOURAN', 'FIAT 500X', 'HYUNDAI IX35',
       'CITROEN C4 PICASSO', 'RENAULT TWINGO', 'AUDI S5',
       'DODGE CHALLENGER', 'DS DS4', 'DACIA SANDERO', 'BMW Z4',
       'AUDI RS3', 'CHEVROLET ORLANDO', 'OPEL INSIGNIA', 'JEEP WRANGLER',
       'DS DS7 CROSSBACK', 'BMW X4', 'DS DS5', 'PEUGEOT 306',
       'HYUNDAI I 30', 'FIAT PANDA', 'RENAULT LAGUNA',
       'VOLKSWAGEN CARAVELLE', 'MPM PS160', 'AUDI A7', 'OPEL MOKKA',
       'NISSAN MICRA', 'VOLKSWAGEN T-CROSS', 'AUDI Q7',
       'OPEL CROSSLAND X', 'MAZDA 3', 'FORD PUMA', 'HONDA CIVIC',
       'LAND ROVER DISCOVERY', 'DACIA DUSTER', 'RENAULT KANGOO',
       'VOLKSWAGEN PASSAT CC', 'FIAT DUCATO', 'MINI MINI COUPE',
       'PORSCHE BOXSTER', 'AUDI A1', 'RENAULT SCENIC', 'SUZUKI JIMNY',
       'CUPRA ATECA', 'INFINITI Q50', 'FORD KUGA', 'TESLA MODEL 3',
       'KIA RIO', 'PEUGEOT 508', 'PEUGEOT BOXER', 'PORSCHE CAYENNE',
       'FORD C-MAX', 'CHRYSLER 300C', 'MERCEDES CLASSE B', 'KIA SPORTAGE',
       'MINI MINI COUNTRYMAN', 'KIA Cee D', 'LEXUS RX',
       'JEEP GRAND CHEROKEE', 'ALFA ROMEO GIULIETTA', 'TOYOTA PRIUS',
       'DS DS7 Crossback ', 'RENAULT CLIO V', 'AUDI A6', 'KIA STONIC',
       'MAZDA MX-5', 'LAND ROVER RANGE ROVER EVOQUE', 'RENAULT ESPACE',
       'MAZDA CX-30', 'SUZUKI SWIFT', 'HONDA JAZZ', 'SEAT EXEO',
       'NISSAN LEAF', 'OPEL VIVARO', 'VOLKSWAGEN New Beetle',
       'CITROEN BERLINGO', 'PEUGEOT EXPERT', 'VOLKSWAGEN PASSAT',
       'TOYOTA RAV4', 'SUZUKI IGNIS', 'SKODA KODIAQ', 'OPEL CORSA',
       'VOLKSWAGEN T-ROC', 'PEUGEOT 106', 'MINI MINI CLUBMAN',
       'JAGUAR S-TYPE', 'VOLVO XC90', 'MINI COUNTRYMAN', 'INFINITI G',
       'MERCEDES VITO', 'PEUGEOT RCZ', 'FORD RANGER', 'FORD MUSTANG',
       'MITSUBISHI SPACE STAR', 'SUZUKI ALTO', 'MERCEDES CLASSE CLK',
       'MERCEDES CLASSE GLE', 'TOYOTA COROLLA', 'PEUGEOT 207',
       'MASERATI LEVANTE', 'MERCEDES ML', 'RENAULT KOLEOS',
       'ALPINE RENAULT GTA', 'CITROEN C3 PICASSO', 'AUDI S4 AVANT',
       'CITROEN C2', 'HONDA HR-V', 'CITROEN C5', 'BMW SERIE 7',
       'JEEP CHEROKEE', 'NISSAN NOTE', 'PEUGEOT 108', 'AIXAM d-truck',
       'ALFA ROMEO STELVIO', 'VOLKSWAGEN MULTIVAN', 'TOYOTA VERSO',
       'MERCEDES CITAN', 'NISSAN NAVARA', 'JAGUAR X-TYPE',
       'MERCEDES AMG GT', 'DACIA DOKKER', 'MERCEDES CLASSE S',
       'ALFA ROMEO GIULIA', 'VOLKSWAGEN SHARAN', 'FORD COURRIER',
       'KIA SOUL', 'PEUGEOT BIPPER', 'TOYOTA MR', 'HYUNDAI IX20',
       'FORD TRANSIT', 'TOYOTA C-HR', 'AIXAM COUPE',
       'CITROEN C3 AIRCROSS', 'FIAT PUNTO', 'PEUGEOT PARTNER TEPEE',
       'AUDI S3', 'AUDI RS5', 'OPEL MERIVA', 'AUDI A4 ALLROAD',
       'VOLKSWAGEN TRANSPORTER', 'CHEVROLET SPARK', 'HYUNDAI Ioniq',
       'PEUGEOT 407', 'VOLVO V40', 'CHEVROLET AVEO', 'DACIA LODGY'],
      dtype=object)

In [254]:
"""for i in range(len(lire['Modèle'])):
    if lire['Modèle'][i]=='MINI MINI':
        lire['Modèle'][i] = 'MINI'
    elif lire['Modèle'][i]=='MINI MINI CABRIOLET':
        lire['Modèle'][i] = 'MINI CABRIOLET'
    elif lire['Modèle'][i]=='MINI MINI JOHN COOPER WORKS':
        lire['Modèle'][i] = 'MINI JOHN COOPER WORKS'
    elif lire['Modèle'][i]=='MINI MINI COUPE':
        lire['Modèle'][i] = 'MINI COUPE'
    elif lire['Modèle'][i]=='MINI MINI COUNTRYMAN':
        lire['Modèle'][i] = 'MINI COUNTRYMAN'
    elif lire['Modèle'][i]=='MINI MINI CLUBMAN':
        lire['Modèle'][i] = 'MINI CLUBMAN'
    elif lire['Modèle'][i]=='MINI COUNTRYMAN':
        lire['Modèle'][i] = 'MINI COUNTRYMAN'    
    else:
        lire['Modèle'][i] = lire['Modèle'][i].replace(lire['Marque'][i],'')"""

"for i in range(len(lire['Modèle'])):\n    if lire['Modèle'][i]=='MINI MINI':\n        lire['Modèle'][i] = 'MINI'\n    elif lire['Modèle'][i]=='MINI MINI CABRIOLET':\n        lire['Modèle'][i] = 'MINI CABRIOLET'\n    elif lire['Modèle'][i]=='MINI MINI JOHN COOPER WORKS':\n        lire['Modèle'][i] = 'MINI JOHN COOPER WORKS'\n    elif lire['Modèle'][i]=='MINI MINI COUPE':\n        lire['Modèle'][i] = 'MINI COUPE'\n    elif lire['Modèle'][i]=='MINI MINI COUNTRYMAN':\n        lire['Modèle'][i] = 'MINI COUNTRYMAN'\n    elif lire['Modèle'][i]=='MINI MINI CLUBMAN':\n        lire['Modèle'][i] = 'MINI CLUBMAN'\n    elif lire['Modèle'][i]=='MINI COUNTRYMAN':\n        lire['Modèle'][i] = 'MINI COUNTRYMAN'    \n    else:\n        lire['Modèle'][i] = lire['Modèle'][i].replace(lire['Marque'][i],'')"

In [321]:
def suprimer_espace_debut_fin(c):
    if c[0]==' ' :
        c = c[1:]
    if c[-1]==' ':
        c = c[:-1]
    return c

In [322]:
for i in range(len(lire['Modèle'])):
    lire['Modèle'][i] = suprimer_espace_debut_fin(lire['Modèle'][i])

<ipython-input-322-7e4c11370a4e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lire['Modèle'][i] = suprimer_espace_debut_fin(lire['Modèle'][i])

In [323]:
len(lire['Modèle'].unique())

246

In [324]:
Modele_id_dic = dict()
for i in range(len(lire['Modèle'].unique())):
    Modele_id_dic.update({str(i) : lire['Modèle'].unique()[i] })

In [325]:
Modele_id_dic

{'0': 'PEUGEOT 107',
 '1': 'RENAULT CAPTUR',
 '2': 'VOLKSWAGEN GOLF',
 '3': 'SKODA OCTAVIA',
 '4': 'MERCEDES CLASSE GLA',
 '5': 'NISSAN QASHQAI',
 '6': 'BMW X3',
 '7': 'RENAULT MEGANE',
 '8': 'FIAT 500',
 '9': 'CITROEN C1',
 '10': 'TOYOTA YARIS',
 '11': 'RENAULT Kadjar',
 '12': 'AUDI Q3',
 '13': 'AUDI TT',
 '14': 'CITROEN C4',
 '15': 'JEEP Renegade',
 '16': 'PEUGEOT 308',
 '17': 'SEAT LEON',
 '18': 'BMW SERIE 1',
 '19': 'PEUGEOT 2008',
 '20': 'MERCEDES CLASSE C',
 '21': 'SEAT IBIZA',
 '22': 'DACIA LOGAN',
 '23': 'MERCEDES CLASSE CLA',
 '24': 'DODGE RAM',
 '25': 'HYUNDAI TUCSON',
 '26': 'BMW SERIE 3',
 '27': 'SKODA FABIA',
 '28': 'TOYOTA AURIS',
 '29': 'MERCEDES CLASSE GLC',
 '30': 'BMW SERIE 4',
 '31': 'MERCEDES CLASSE A',
 '32': 'VOLKSWAGEN SCIROCCO',
 '33': 'AUDI A5',
 '34': 'RENAULT GRAND SCENIC',
 '35': 'SMART FORTWO',
 '36': 'OPEL Adam',
 '37': 'RENAULT GRAND KANGOO',
 '38': 'VOLKSWAGEN TIGUAN',
 '39': 'VOLKSWAGEN EOS',
 '40': 'VOLVO XC60',
 '41': 'SEAT ARONA',
 '42': 'HONDA CR-V',
 '43': 'OPEL ASTRA',
 '44': 'MINI MINI',
 '45': 'AUDI Q2',
 '46': 'BMW SERIE 6',
 '47': 'MAZDA CX-5',
 '48': 'RENAULT CLIO',
 '49': 'AUDI Q5',
 '50': 'HYUNDAI KONA',
 '51': 'MERCEDES CLASSE CLS',
 '52': 'BMW X1',
 '53': 'HYUNDAI SANTA FE',
 '54': 'AUDI TTS',
 '55': 'PEUGEOT 208',
 '56': 'BMW X5',
 '57': 'MERCEDES CLASSE M',
 '58': 'MERCEDES 560',
 '59': 'RENAULT MASTER',
 '60': 'JAGUAR XE',
 '61': 'MERCEDES CLASSE E',
 '62': 'CITROEN DS5',
 '63': 'MAZDA CX-3',
 '64': 'BMW X6',
 '65': 'NISSAN X-TRAIL',
 '66': 'JAGUAR F-PACE',
 '67': 'BMW SERIE 2',
 '68': 'AUDI A4',
 '69': 'ABARTH 500',
 '70': 'VOLKSWAGEN TOUAREG',
 '71': 'NISSAN JUKE',
 '72': 'RENAULT TALISMAN',
 '73': 'FIAT BRAVO',
 '74': 'SUZUKI Vitara',
 '75': 'VOLKSWAGEN COCCINELLE',
 '76': 'BMW M3',
 '77': 'MINI MINI CABRIOLET',
 '78': 'FORD S-MAX',
 '79': 'CITROEN JUMPY',
 '80': 'CITROEN DS3',
 '81': 'BMW SERIE 5',
 '82': 'VOLKSWAGEN UP!',
 '83': 'CITROEN C3',
 '84': 'HYUNDAI VELOSTER',
 '85': 'MERCEDES SLK',
 '86': 'JAGUAR XF',
 '87': 'ISUZU D-MAX',
 '88': 'FORD FOCUS',
 '89': 'VOLKSWAGEN POLO',
 '90': 'PORSCHE 911',
 '91': 'PEUGEOT 3008',
 '92': 'OPEL GT',
 '93': 'FORD FIESTA',
 '94': 'PORSCHE CAYMAN',
 '95': 'PEUGEOT ION',
 '96': 'MINI MINI JOHN COOPER WORKS',
 '97': 'AUDI A3',
 '98': 'DS DS3',
 '99': 'PEUGEOT 5008',
 '100': 'ALFA ROMEO MITO',
 '101': 'VOLKSWAGEN TOURAN',
 '102': 'FIAT 500X',
 '103': 'HYUNDAI IX35',
 '104': 'CITROEN C4 PICASSO',
 '105': 'RENAULT TWINGO',
 '106': 'AUDI S5',
 '107': 'DODGE CHALLENGER',
 '108': 'DS DS4',
 '109': 'DACIA SANDERO',
 '110': 'BMW Z4',
 '111': 'AUDI RS3',
 '112': 'CHEVROLET ORLANDO',
 '113': 'OPEL INSIGNIA',
 '114': 'JEEP WRANGLER',
 '115': 'DS DS7 CROSSBACK',
 '116': 'BMW X4',
 '117': 'DS DS5',
 '118': 'PEUGEOT 306',
 '119': 'HYUNDAI I 30',
 '120': 'FIAT PANDA',
 '121': 'RENAULT LAGUNA',
 '122': 'VOLKSWAGEN CARAVELLE',
 '123': 'MPM PS160',
 '124': 'AUDI A7',
 '125': 'OPEL MOKKA',
 '126': 'NISSAN MICRA',
 '127': 'VOLKSWAGEN T-CROSS',
 '128': 'AUDI Q7',
 '129': 'OPEL CROSSLAND X',
 '130': 'MAZDA 3',
 '131': 'FORD PUMA',
 '132': 'HONDA CIVIC',
 '133': 'LAND ROVER DISCOVERY',
 '134': 'DACIA DUSTER',
 '135': 'RENAULT KANGOO',
 '136': 'VOLKSWAGEN PASSAT CC',
 '137': 'FIAT DUCATO',
 '138': 'MINI MINI COUPE',
 '139': 'PORSCHE BOXSTER',
 '140': 'AUDI A1',
 '141': 'RENAULT SCENIC',
 '142': 'SUZUKI JIMNY',
 '143': 'CUPRA ATECA',
 '144': 'INFINITI Q50',
 '145': 'FORD KUGA',
 '146': 'TESLA MODEL 3',
 '147': 'KIA RIO',
 '148': 'PEUGEOT 508',
 '149': 'PEUGEOT BOXER',
 '150': 'PORSCHE CAYENNE',
 '151': 'FORD C-MAX',
 '152': 'CHRYSLER 300C',
 '153': 'MERCEDES CLASSE B',
 '154': 'KIA SPORTAGE',
 '155': 'MINI MINI COUNTRYMAN',
 '156': 'KIA Cee D',
 '157': 'LEXUS RX',
 '158': 'JEEP GRAND CHEROKEE',
 '159': 'ALFA ROMEO GIULIETTA',
 '160': 'TOYOTA PRIUS',
 '161': 'DS DS7 Crossback',
 '162': 'RENAULT CLIO V',
 '163': 'AUDI A6',
 '164': 'KIA STONIC',
 '165': 'MAZDA MX-5',
 '166': 'LAND ROVER RANGE ROVER EVOQUE',
 '167': 'RENAULT ESPACE',
 '168': 'MAZDA CX-30',
 '169': 'SUZUKI SWIFT',
 '170': 'HONDA JAZZ',
 '171': 'SEAT EXEO',
 '172': 'NISSAN LEAF',
 '173': 'OPEL VIVARO',
 '174': 'VOLKSWAGEN New Beetle',
 '175': 'CITROEN BERLINGO',
 '176': 'PEUGEOT EXPERT',
 '177': 'VOLKSWAGEN PASSAT',
 '178': 'TOYOTA RAV4',
 '179': 'SUZUKI IGNIS',
 '180': 'SKODA KODIAQ',
 '181': 'OPEL CORSA',
 '182': 'VOLKSWAGEN T-ROC',
 '183': 'PEUGEOT 106',
 '184': 'MINI MINI CLUBMAN',
 '185': 'JAGUAR S-TYPE',
 '186': 'VOLVO XC90',
 '187': 'MINI COUNTRYMAN',
 '188': 'INFINITI G',
 '189': 'MERCEDES VITO',
 '190': 'PEUGEOT RCZ',
 '191': 'FORD RANGER',
 '192': 'FORD MUSTANG',
 '193': 'MITSUBISHI SPACE STAR',
 '194': 'SUZUKI ALTO',
 '195': 'MERCEDES CLASSE CLK',
 '196': 'MERCEDES CLASSE GLE',
 '197': 'TOYOTA COROLLA',
 '198': 'PEUGEOT 207',
 '199': 'MASERATI LEVANTE',
 '200': 'MERCEDES ML',
 '201': 'RENAULT KOLEOS',
 '202': 'ALPINE RENAULT GTA',
 '203': 'CITROEN C3 PICASSO',
 '204': 'AUDI S4 AVANT',
 '205': 'CITROEN C2',
 '206': 'HONDA HR-V',
 '207': 'CITROEN C5',
 '208': 'BMW SERIE 7',
 '209': 'JEEP CHEROKEE',
 '210': 'NISSAN NOTE',
 '211': 'PEUGEOT 108',
 '212': 'AIXAM d-truck',
 '213': 'ALFA ROMEO STELVIO',
 '214': 'VOLKSWAGEN MULTIVAN',
 '215': 'TOYOTA VERSO',
 '216': 'MERCEDES CITAN',
 '217': 'NISSAN NAVARA',
 '218': 'JAGUAR X-TYPE',
 '219': 'MERCEDES AMG GT',
 '220': 'DACIA DOKKER',
 '221': 'MERCEDES CLASSE S',
 '222': 'ALFA ROMEO GIULIA',
 '223': 'VOLKSWAGEN SHARAN',
 '224': 'FORD COURRIER',
 '225': 'KIA SOUL',
 '226': 'PEUGEOT BIPPER',
 '227': 'TOYOTA MR',
 '228': 'HYUNDAI IX20',
 '229': 'FORD TRANSIT',
 '230': 'TOYOTA C-HR',
 '231': 'AIXAM COUPE',
 '232': 'CITROEN C3 AIRCROSS',
 '233': 'FIAT PUNTO',
 '234': 'PEUGEOT PARTNER TEPEE',
 '235': 'AUDI S3',
 '236': 'AUDI RS5',
 '237': 'OPEL MERIVA',
 '238': 'AUDI A4 ALLROAD',
 '239': 'VOLKSWAGEN TRANSPORTER',
 '240': 'CHEVROLET SPARK',
 '241': 'HYUNDAI Ioniq',
 '242': 'PEUGEOT 407',
 '243': 'VOLVO V40',
 '244': 'CHEVROLET AVEO',
 '245': 'DACIA LODGY'}

In [260]:
Modèle_id = []
for val in lire['Modèle'] :
    for key, value in Modele_id_dic.items(): 
        if val == value :
            Modèle_id.append(int(key))

In [326]:
Modèle_id

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 14,
 20,
 21,
 2,
 8,
 22,
 23,
 24,
 25,
 26,
 27,
 18,
 28,
 29,
 30,
 31,
 32,
 17,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 20,
 7,
 40,
 41,
 31,
 13,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 13,
 49,
 43,
 50,
 51,
 52,
 53,
 31,
 54,
 26,
 55,
 7,
 26,
 56,
 49,
 16,
 31,
 57,
 40,
 44,
 28,
 58,
 59,
 34,
 60,
 61,
 21,
 8,
 44,
 62,
 14,
 18,
 20,
 63,
 64,
 11,
 52,
 65,
 66,
 67,
 26,
 19,
 20,
 8,
 68,
 31,
 69,
 70,
 6,
 55,
 23,
 71,
 72,
 2,
 73,
 74,
 75,
 16,
 76,
 77,
 78,
 38,
 79,
 80,
 81,
 12,
 82,
 83,
 84,
 66,
 85,
 38,
 16,
 86,
 47,
 87,
 52,
 88,
 89,
 90,
 1,
 4,
 31,
 91,
 92,
 7,
 93,
 91,
 94,
 16,
 83,
 95,
 43,
 96,
 97,
 69,
 7,
 98,
 16,
 99,
 18,
 100,
 26,
 101,
 18,
 2,
 102,
 61,
 93,
 20,
 2,
 23,
 103,
 51,
 1,
 104,
 105,
 18,
 90,
 106,
 75,
 16,
 48,
 2,
 93,
 107,
 32,
 108,
 109,
 110,
 26,
 4,
 48,
 61,
 111,
 112,
 93,
 5,
 113,
 114,
 16,
 2,
 18,
 18,
 91,
 39,
 21,
 115,
 72,
 48,
 116,
 117,
 118,
 25,
 119,
 7,
 1,
 120,
 121,
 64,
 20,
 97,
 122,
 96,
 31,
 123,
 124,
 125,
 23,
 6,
 91,
 95,
 126,
 40,
 61,
 127,
 128,
 75,
 129,
 71,
 130,
 131,
 72,
 98,
 16,
 18,
 80,
 56,
 132,
 18,
 9,
 48,
 133,
 134,
 135,
 134,
 136,
 83,
 71,
 12,
 44,
 129,
 12,
 1,
 137,
 138,
 120,
 18,
 19,
 75,
 139,
 20,
 140,
 6,
 140,
 141,
 91,
 142,
 31,
 143,
 20,
 6,
 61,
 98,
 18,
 88,
 75,
 17,
 144,
 75,
 5,
 145,
 83,
 7,
 146,
 66,
 52,
 147,
 51,
 65,
 148,
 149,
 68,
 134,
 48,
 150,
 141,
 55,
 33,
 151,
 152,
 116,
 153,
 104,
 154,
 16,
 139,
 140,
 93,
 155,
 103,
 83,
 17,
 4,
 14,
 48,
 97,
 16,
 156,
 157,
 21,
 158,
 159,
 160,
 43,
 26,
 18,
 93,
 2,
 44,
 161,
 64,
 13,
 31,
 15,
 55,
 68,
 9,
 162,
 71,
 91,
 89,
 44,
 163,
 16,
 91,
 164,
 44,
 16,
 4,
 165,
 166,
 97,
 12,
 2,
 68,
 160,
 8,
 167,
 38,
 166,
 168,
 93,
 162,
 83,
 16,
 19,
 169,
 89,
 75,
 170,
 171,
 172,
 173,
 12,
 49,
 90,
 71,
 174,
 99,
 18,
 83,
 98,
 83,
 175,
 79,
 162,
 162,
 176,
 162,
 162,
 3,
 177,
 14,
 52,
 61,
 93,
 166,
 33,
 148,
 34,
 178,
 179,
 180,
 154,
 153,
 55,
 105,
 43,
 48,
 83,
 181,
 19,
 109,
 97,
 16,
 97,
 26,
 2,
 21,
 75,
 16,
 182,
 98,
 115,
 161,
 183,
 184,
 155,
 100,
 83,
 83,
 113,
 91,
 185,
 186,
 141,
 187,
 188,
 189,
 19,
 33,
 101,
 7,
 26,
 83,
 181,
 49,
 19,
 16,
 55,
 80,
 190,
 2,
 109,
 43,
 191,
 33,
 43,
 16,
 172,
 192,
 8,
 21,
 33,
 35,
 140,
 141,
 68,
 154,
 182,
 145,
 193,
 105,
 169,
 26,
 8,
 55,
 1,
 194,
 97,
 0,
 140,
 12,
 16,
 83,
 55,
 34,
 52,
 82,
 8,
 23,
 9,
 195,
 134,
 196,
 197,
 198,
 48,
 198,
 97,
 6,
 199,
 71,
 81,
 167,
 47,
 22,
 200,
 38,
 155,
 201,
 31,
 5,
 148,
 13,
 8,
 202,
 38,
 0,
 33,
 184,
 203,
 162,
 78,
 134,
 90,
 198,
 204,
 55,
 55,
 187,
 205,
 1,
 49,
 198,
 18,
 35,
 198,
 23,
 2,
 18,
 56,
 55,
 184,
 18,
 18,
 38,
 105,
 154,
 187,
 44,
 89,
 45,
 19,
 44,
 31,
 8,
 97,
 206,
 71,
 38,
 153,
 150,
 207,
 208,
 7,
 100,
 125,
 198,
 91,
 16,
 41,
 181,
 61,
 176,
 71,
 30,
 153,
 90,
 26,
 140,
 140,
 48,
 49,
 148,
 19,
 48,
 11,
 61,
 62,
 132,
 2,
 16,
 93,
 27,
 181,
 198,
 209,
 210,
 30,
 71,
 26,
 153,
 166,
 80,
 104,
 7,
 134,
 148,
 211,
 14,
 212,
 31,
 20,
 213,
 16,
 200,
 61,
 140,
 189,
 9,
 97,
 214,
 67,
 40,
 65,
 2,
 215,
 216,
 18,
 19,
 7,
 217,
 218,
 187,
 219,
 2,
 220,
 88,
 93,
 20,
 154,
 173,
 97,
 97,
 7,
 14,
 68,
 35,
 61,
 91,
 91,
 2,
 203,
 7,
 198,
 93,
 221,
 21,
 222,
 223,
 5,
 31,
 91,
 71,
 97,
 8,
 49,
 48,
 9,
 20,
 16,
 9,
 55,
 20,
 30,
 7,
 134,
 175,
 9,
 77,
 224,
 191,
 19,
 161,
 20,
 16,
 93,
 225,
 91,
 16,
 97,
 226,
 166,
 7,
 227,
 4,
 228,
 4,
 178,
 18,
 55,
 211,
 21,
 2,
 81,
 15,
 0,
 201,
 105,
 182,
 187,
 229,
 19,
 230,
 231,
 16,
 20,
 89,
 232,
 110,
 191,
 16,
 7,
 233,
 198,
 98,
 55,
 7,
 77,
 140,
 135,
 8,
 81,
 234,
 235,
 201,
 83,
 31,
 236,
 2,
 99,
 55,
 8,
 2,
 134,
 64,
 43,
 5,
 48,
 7,
 52,
 3,
 176,
 167,
 7,
 55,
 237,
 5,
 81,
 19,
 14,
 7,
 238,
 97,
 154,
 51,
 239,
 131,
 71,
 10,
 232,
 10,
 97,
 125,
 16,
 237,
 91,
 232,
 196,
 1,
 177,
 7,
 91,
 167,
 91,
 19,
 93,
 81,
 97,
 3,
 104,
 224,
 16,
 148,
 14,
 102,
 18,
 240,
 55,
 241,
 167,
 242,
 12,
 243,
 29,
 140,
 17,
 31,
 1,
 140,
 2,
 102,
 55,
 36,
 162,
 229,
 0,
 7,
 15,
 18,
 244,
 151,
 99,
 176,
 237,
 99,
 140,
 245,
 181,
 7,
 16,
 30,
 10]

In [327]:
lire.insert(4,"Modèle_id",Modèle_id,True)

In [328]:
lire

,Nom,Marque,marque_id,Modèle,Modèle_id,Mise en circulation,Kilométrage (en km),Énergie,Boite de vitesse,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,0,PEUGEOT 107,0,19/05/2009,68965 km,ESSENCE,MANUELLE,4 Ch,3 MOIS,106g/km,4 290 €
1,RENAULT CAPTUR 1.3 TCe 130 Ch FAP Red Edition,RENAULT,1,RENAULT CAPTUR,1,05/08/2019,22000 km,ESSENCE,MANUELLE,7 Ch,3 MOIS,128g/km,15 990 €
2,VOLKSWAGEN GOLF 1.0 TSI 115 CONNECT EDITION,VOLKSWAGEN,2,VOLKSWAGEN GOLF,2,11/02/2019,39539 km,DIESEL,MANUELLE,6 Ch,3 MOIS,107g/km,16 990 €
3,SKODA OCTAVIA 1.6 TDI 16V DSG7 105 ELEGANCE,SKODA,3,SKODA OCTAVIA,3,02/09/2013,134500 km,DIESEL,AUTOMATIQUE,5 Ch,3 MOIS,102g/km,9 990 €
4,MERCEDES CLASSE GLA 220 d 170ch Sensation 7G-DCT,MERCEDES,4,MERCEDES CLASSE GLA,4,05/04/2018,27000 km,DIESEL,AUTOMATIQUE,10 Ch,12 MOIS,110g/km,30 290 €
...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,OPEL CORSA 1.4 90 Edition,OPEL,17,OPEL CORSA,181,19/01/2016,19000 km,ESSENCE,MANUELLE,5 Ch,NaN,122g/km,8 490 €
839,RENAULT MEGANE DCI 110 INTENS,RENAULT,1,RENAULT MEGANE,7,30/10/2017,64900 km,DIESEL,MANUELLE,5 Ch,3 MOIS,95g/km,13 990 €
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,0,PEUGEOT 308,16,28/12/2018,24800 km,ESSENCE,MANUELLE,6 Ch,3 MOIS,108g/km,17 990 €
841,BMW SERIE 4 Coupé 420dA 184ch Luxury 94510 kms,BMW,6,BMW SERIE 4,30,31/12/2014,94510 km,DIESEL,AUTOMATIQUE,10 Ch,3 MOIS,121g/km,20 490 €
842,TOYOTA YARIS Hybrid 100H Dynamic 5P,TOYOTA,9,TOYOTA YARIS,10,10/10/2013,84490 km,HYBRIDE,AUTOMATIQUE,3 Ch,12 MOIS,79g/km,9 490 €

# mise en circulation_année

In [332]:
lire["Mise en circulation"].unique()

array(['19/05/2009', '05/08/2019', '11/02/2019', '02/09/2013',
       '05/04/2018', '24/01/2018', '10/10/2018', '10/05/2019',
       '28/02/2018', '06/02/2017', '20/12/2018', '06/04/2017',
       '28/05/2013', '29/05/2009', '26/09/2017', '20/07/2021',
       '25/04/2016', '04/05/2017', '15/05/2012', '02/05/2019',
       '18/07/2018', '28/12/2016', '27/08/2014', '17/03/2016',
       '26/01/2018', '13/02/2017', '06/12/2019', '07/12/2007',
       '04/02/2020', '11/12/2009', '27/10/2017', '05/04/2016',
       '17/06/2015', '18/09/2017', '26/01/2016', '16/06/2020',
       '03/01/2018', '10/06/2010', '07/03/2019', '01/04/2013',
       '03/05/2018', '22/12/2017', '11/12/2017', '10/09/2015',
       '16/05/2012', '21/04/1997', '13/01/2016', '07/01/2017',
       '29/03/2018', '25/07/2019', '03/04/2017', '16/01/2018',
       '30/06/2016', '20/10/2016', '30/05/2017', '04/01/2006',
       '21/04/2015', '28/11/2016', '05/09/2006', '16/10/2018',
       '18/02/2020', '16/01/2020', '30/05/2005', '27/02/2019',
       '05/03/2015', '01/08/2019', '18/05/2015', '31/03/2017',
       '20/05/2008', '17/08/1982', '01/04/2015', '16/01/2013',
       '30/06/2017', '30/01/2014', '21/06/2010', '03/09/2014',
       '25/10/2012', '11/02/2014', '14/08/1990', '17/04/2012',
       '23/12/2015', '03/08/2015', '28/02/2019', '10/07/2015',
       '04/02/2019', '01/06/2015', '03/12/2019', '14/02/2017',
       '31/05/2017', '21/03/2019', '10/09/2010', '17/10/2019',
       '12/10/2016', '24/07/2019', '01/06/2017', '30/11/2017',
       '01/01/2021', '19/05/2017', '10/10/2014', '07/12/2017',
       '17/01/2014', '03/12/2012', '04/09/2019', 'N.C', '30/07/2018',
       '23/02/2015', '14/12/2017', '29/10/2018', '27/03/2008',
       '26/11/2018', '01/01/1955', '21/11/2013', '03/10/2007',
       '11/10/2007', '11/03/2016', '06/02/2015', '07/11/2016',
       '11/07/2013', '27/06/2013', '03/07/2014', '28/06/2019',
       '28/04/2021', '01/05/2013', '26/06/2017', '05/07/2011',
       '27/10/2015', '27/10/2020', '17/01/2011', '30/11/2018',
       '24/11/2006', '05/10/2017', '29/06/2017', '23/06/2016',
       '01/07/2007', '03/09/2020', '31/07/2018', '26/02/2016',
       '05/09/2017', '24/06/2009', '18/02/2015', '19/07/2019',
       '06/08/2009', '09/04/2019', '28/10/2019', '17/10/2016',
       '31/05/2006', '17/07/2009', '22/10/2015', '19/10/2020',
       '23/06/2015', '15/05/2018', '29/11/2019', '20/01/2017',
       '21/12/2016', '28/05/2015', '14/11/2019', '13/02/2014',
       '10/12/2020', '15/02/2017', '09/12/2008', '11/06/2012',
       '01/01/2014', '22/12/2016', '20/02/2015', '10/09/2018',
       '29/04/2019', '30/06/2015', '25/03/2016', '01/01/2001',
       '07/05/2009', '28/08/2014', '31/08/2017', '30/01/2018',
       '20/04/2015', '29/05/2017', '02/06/2016', '13/01/2010',
       '28/12/2018', '24/10/2017', '14/04/2009', '28/02/2013',
       '13/04/2016', '01/01/2016', '13/07/2012', '21/10/2013',
       '04/03/2013', '19/03/2014', '27/06/2007', '27/03/2021',
       '14/03/2019', '28/04/2008', '30/04/2015', '27/06/2019',
       '22/02/2006', '20/06/2018', '10/06/2020', '09/06/2020',
       '07/12/2016', '09/01/2015', '11/04/2018', '19/07/2001',
       '22/09/2015', '03/07/2019', '13/05/2015', '28/02/2017',
       '20/03/2019', '29/09/2010', '20/10/2017', '12/04/2013',
       '17/12/2014', '22/07/2020', '11/08/2017', '28/06/2017',
       '22/05/2012', '10/04/2015', '12/06/2013', '29/07/2013',
       '30/08/2011', '05/06/2020', '28/12/2015', '20/01/2020',
       '28/12/2019', '19/10/2010', '10/04/2014', '05/05/2020',
       '30/01/2015', '26/02/2021', '30/12/2019', '17/03/2015',
       '05/02/2018', '15/04/2019', '01/08/2013', '01/10/2014',
       '25/03/2019', '22/02/2013', '29/11/2018', '05/07/2018',
       '09/12/2016', '20/09/2019', '25/04/2014', '22/02/2018',
       '27/03/2012', '24/06/2013', '31/01/2018', '30/04/2013',
       '27/11/2015', '24/04/2006', '30/01/2013', '26/02/2018',
       '28/01/2021', '17/07/2018', '18/02/2017', '05/07/2002',
       '20/12/2013', '18/04/2012', '19/09/2014', '16/09/2016',
       '26/09/2018', '29/11/2006', '31/07/2019', '05/06/2019',
       '10/12/2015', '27/07/2010', '30/12/2011', '26/02/2020',
       '30/08/2018', '15/01/2021', '09/06/2015', '31/10/2017',
       '29/01/2013', '26/03/2010', '16/04/2018', '07/11/2019',
       '02/05/2018', '15/05/2015', '06/12/2012', '06/05/2019',
       '09/08/2017', '14/03/2014', '03/11/2021', '25/07/2016',
       '29/07/2010', '27/03/2019', '01/11/2021', '06/11/2015',
       '31/08/2016', '16/06/2010', '22/09/2017', '26/03/2014',
       '31/03/2021', '15/11/2007', '18/11/2016', '21/02/2013',
       '13/03/2013', '24/12/2013', '02/12/2016', '24/10/2018',
       '30/03/2015', '22/01/2018', '24/10/2011', '02/05/2016',
       '23/12/2013', '19/05/2014', '24/01/2011', '18/03/2014',
       '26/05/2011', '16/05/2011', '25/02/2015', '18/06/2015',
       '29/09/0216', '26/12/2019', '28/07/2020', '29/04/2009',
       '24/01/2019', '20/12/2007', '26/06/2019', '07/03/2017',
       '18/01/2021', '24/02/2011', '25/02/2020', '15/10/2021',
       '18/12/2014', '27/04/2012', '16/12/2008', '20/03/2018',
       '09/09/2020', '02/01/2018', '05/11/2013', '18/12/2019',
       '27/06/2017', '06/03/2015', '25/04/2018', '26/05/2021',
       '11/06/2013', '18/05/2011', '17/01/2017', '28/02/2011',
       '07/12/2015', '01/01/2018', '08/03/2017', '29/07/2021',
       '30/11/2009', '26/06/2018', '11/02/2016', '25/11/2020',
       '15/10/2012', '30/08/2017', '07/08/2020', '03/05/2011',
       '16/08/2018', '22/04/2010', '13/08/2014', '07/12/2011',
       '07/02/2001', '15/06/2012', '20/07/2007', '14/02/2013',
       '28/09/2012', '13/01/2022', '04/12/2021', '13/02/2022',
       '13/08/2015', '30/07/2008', '27/03/2018', '04/09/2014',
       '12/10/2015', '19/04/2018', '29/01/2015', '18/09/2015',
       '19/02/2015', '04/03/2015', '28/12/2012', '19/02/2018',
       '28/08/2018', '21/10/2019', '03/12/2013', '31/05/2012',
       '21/12/2018', '10/06/2008', '12/04/2016', '27/09/2018',
       '20/09/2017', '31/03/2011', '20/10/2015', '02/10/2020',
       '10/06/2016', '29/12/2011', '25/05/2014', '31/05/2010',
       '19/06/2019', '06/03/2019', '13/11/2002', '15/10/2018',
       '21/06/2011', '26/04/2016', '25/02/2021', '21/07/2010',
       '21/03/2016', '13/08/2007', '21/05/2015', '07/07/2017',
       '20/02/2012', '02/01/2013', '24/12/2020', '27/09/2017',
       '31/05/2011', '04/04/2017', '24/02/2012', '23/07/2012',
       '30/01/2009', '15/03/2007', '20/06/2016', '13/01/2020',
       '05/07/2013', '13/05/2011', '15/12/2017', '07/03/2018',
       '30/03/2017', '04/02/2013', '12/04/2012', '07/06/2017',
       '21/09/2020', '01/01/1966', '07/09/2014', '11/06/2015',
       '11/06/2014', '09/09/2016', '22/08/2014', '17/08/2020',
       '24/04/2012', '29/08/2019', '10/08/2007', '02/02/2015',
       '18/03/2013', '30/10/2018', '10/07/2012', '01/02/2015',
       '31/07/2009', '05/01/2018', '22/03/2012', '25/01/2018',
       '05/02/2013', '25/11/2014', '06/09/2014', '24/12/2015',
       '01/05/2015', '24/08/2017', '27/11/2019', '08/03/2012',
       '30/08/2005', '28/06/2018', '01/01/2020', '28/09/2009',
       '13/10/2008', '06/02/2018', '07/12/2006', '08/11/2016',
       '26/02/2019', '27/02/2014', '19/01/2017', '30/04/2007',
       '26/09/2006', '24/05/2011', '14/06/2013', '04/01/2018',
       '02/09/2011', '10/05/2011', '01/10/1996', '23/07/2018',
       '12/07/2007', '27/04/2009', '31/12/2012', '20/02/2017',
       '18/09/2014', '01/02/2005', '13/01/2011', '09/07/2007',
       '15/01/2015', '30/09/2019', '15/10/2013', '21/02/2008',
       '13/03/2020', '29/07/2015', '09/07/2009', '25/10/2013',
       '26/12/2012', '08/09/2011', '08/01/2016', '22/07/2010',
       '24/12/2014', '18/03/2008', '09/09/2011', '05/01/2010',
       '08/06/2015', '10/06/2015', '30/05/2013', '20/03/2015',
       '08/09/2017', '29/03/2013', '21/07/2014', '29/06/2018',
       '06/10/2020', '23/03/2017', '31/05/2018', '10/04/2013',
       '28/04/2015', '13/12/2012', '22/01/2014', '17/11/2015',
       '31/03/2014', '10/12/2007', '17/09/2018', '11/09/2018',
       '06/12/2015', '21/03/2014', '19/12/2013', '05/08/2015',
       '14/04/2003', '05/11/2020', '05/05/2015', '18/01/2019',
       '19/02/2009', '24/03/2015', '06/06/2016', '22/04/2008',
       '30/09/2015', '23/09/2014', '10/09/2020', '14/01/2009',
       '27/02/2015', '23/09/2017', '12/10/2017', '15/07/2008',
       '11/12/2014', '03/10/2014', '25/04/2012', '30/01/2017',
       '28/08/2012', '05/01/2016', '16/10/2014', '12/06/2012',
       '29/06/2015', '18/08/2011', '15/02/2021', '06/07/2021',
       '08/10/2019', '10/03/2016', '03/07/2017', '15/03/2016',
       '09/07/2014', '06/03/2014', '11/02/2013', '09/04/2015',
       '26/09/2011', '17/11/2020', '13/04/2015', '05/09/2014',
       '21/04/2011', '08/04/2021', '13/12/2017', '05/02/2019',
       '27/07/2020', '26/04/2013', '10/07/2008', '26/12/2014',
       '16/07/2019', '15/09/2017', '15/12/2020', '10/12/2012',
       '07/03/2012', '17/06/2016', '07/02/2008', '12/12/2019',
       '20/06/2013', '30/07/2015', '08/04/2011', '19/07/2016',
       '20/02/2014', '23/01/2017', '24/10/2012', '23/03/2016',
       '24/04/1992', '22/09/2020', '27/02/2017', '03/03/2014',
       '12/01/2016', '26/11/2015', '20/01/2015', '20/12/2016',
       '12/05/2020', '23/12/2008', '20/04/2017', '26/07/2013',
       '28/01/2019', '11/02/2009', '20/09/2013', '09/06/2009',
       '26/05/2017', '20/10/2011', '16/07/2013', '30/04/2018',
       '07/09/2017', '13/07/2011', '11/12/2015', '23/02/2016',
       '22/03/2017', '23/12/2014', '06/07/2011', '21/08/2013',
       '18/06/2012', '17/02/2016', '28/03/2003', '18/07/2017',
       '14/05/2014', '11/04/2016', '11/05/2018', '23/11/2015',
       '02/01/2012', '18/07/2016', '31/05/2019', '25/03/2014',
       '17/12/2015', '07/12/2020', '18/11/2015', '11/12/2013',
       '05/05/2017', '25/08/2018', '15/12/2016', '10/04/2017',
       '30/07/2004', '10/02/2017', '11/10/2018', '23/05/2011',
       '06/01/2014', '14/04/2011', '17/07/2013', '07/11/2017',
       '25/04/2013', '07/11/2011', '17/07/2019', '23/01/2020',
       '15/05/2017', '05/05/2014', '16/01/2015', '27/05/2014',
       '12/04/2019', '03/04/2018', '12/06/2018', '21/07/2009',
       '19/06/2020', '01/12/2016', '03/09/2008', '04/04/2015',
       '29/03/2010', '16/12/2013', '09/08/2019', '02/03/2016',
       '08/08/2018', '03/04/2019', '31/07/2014', '15/03/2013',
       '17/02/2014', '01/08/2018', '02/10/2014', '26/05/2014',
       '14/05/2019', '17/10/2005', '10/11/2020', '16/02/2017',
       '07/10/2009', '24/02/2020', '11/08/2008', '10/10/2013',
       '17/05/2016', '02/07/2018', '02/06/2020', '27/07/2016',
       '20/01/2014', '30/10/2012', '19/09/2017', '16/11/2007',
       '21/11/2015', '28/08/2015', '20/06/2011', '29/07/2014',
       '16/09/2019', '30/01/2012', '21/04/2016', '16/05/2018',
       '29/11/2017', '27/11/2018', '03/06/2015', '31/12/2007',
       '18/02/2016', '15/03/2017', '27/10/2011', '02/04/2009',
       '24/10/2019', '29/11/2013', '05/01/2012', '21/09/2017',
       '29/09/2020', '23/05/2013', '21/11/2020', '28/02/2007',
       '03/10/2011', '11/01/2011', '20/04/2018', '24/05/2019',
       '19/07/2011', '27/04/2017', '12/05/2016', '03/07/2012',
       '19/01/2016', '30/10/2017', '31/12/2014'], dtype=object)

In [338]:
lire2 = lire[lire["Mise en circulation"]!='N.C']

In [340]:
Mise_en_circulation_année = []
for val in lire2['Mise en circulation'] :
    liste_val = val.split('/')
    Mise_en_circulation_année.append(liste_val[2])

In [341]:
lire2.insert(6,"Mise_en_circulation_année",Mise_en_circulation_année,True)

In [342]:
lire2

,Nom,Marque,marque_id,Modèle,Modèle_id,Mise en circulation,Mise_en_circulation_année,Kilométrage (en km),Énergie,Boite de vitesse,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,0,PEUGEOT 107,0,19/05/2009,2009,68965,ESSENCE,MANUELLE,4 Ch,3 MOIS,106g/km,4 290 €
1,RENAULT CAPTUR 1.3 TCe 130 Ch FAP Red Edition,RENAULT,1,RENAULT CAPTUR,1,05/08/2019,2019,22000,ESSENCE,MANUELLE,7 Ch,3 MOIS,128g/km,15 990 €
2,VOLKSWAGEN GOLF 1.0 TSI 115 CONNECT EDITION,VOLKSWAGEN,2,VOLKSWAGEN GOLF,2,11/02/2019,2019,39539,DIESEL,MANUELLE,6 Ch,3 MOIS,107g/km,16 990 €
3,SKODA OCTAVIA 1.6 TDI 16V DSG7 105 ELEGANCE,SKODA,3,SKODA OCTAVIA,3,02/09/2013,2013,134500,DIESEL,AUTOMATIQUE,5 Ch,3 MOIS,102g/km,9 990 €
4,MERCEDES CLASSE GLA 220 d 170ch Sensation 7G-DCT,MERCEDES,4,MERCEDES CLASSE GLA,4,05/04/2018,2018,27000,DIESEL,AUTOMATIQUE,10 Ch,12 MOIS,110g/km,30 290 €
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,OPEL CORSA 1.4 90 Edition,OPEL,17,OPEL CORSA,181,19/01/2016,2016,19000,ESSENCE,MANUELLE,5 Ch,NaN,122g/km,8 490 €
839,RENAULT MEGANE DCI 110 INTENS,RENAULT,1,RENAULT MEGANE,7,30/10/2017,2017,64900,DIESEL,MANUELLE,5 Ch,3 MOIS,95g/km,13 990 €
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,0,PEUGEOT 308,16,28/12/2018,2018,24800,ESSENCE,MANUELLE,6 Ch,3 MOIS,108g/km,17 990 €
841,BMW SERIE 4 Coupé 420dA 184ch Luxury 94510 kms,BMW,6,BMW SERIE 4,30,31/12/2014,2014,94510,DIESEL,AUTOMATIQUE,10 Ch,3 MOIS,121g/km,20 490 €
842,TOYOTA YARIS Hybrid 100H Dynamic 5P,TOYOTA,9,TOYOTA YARIS,10,10/10/2013,2013,84490,HYBRIDE,AUTOMATIQUE,3 Ch,12 MOIS,79g/km,9 490 €

# Kilométrage (en km) -> int

In [343]:
for i in range(len(lire['Kilométrage (en km)'])):
    lire['Kilométrage (en km)'][i] = lire['Kilométrage (en km)'][i].replace('km','')

AttributeError: 'numpy.int32' object has no attribute 'replace'

In [344]:
lire['Kilométrage (en km)'] = lire['Kilométrage (en km)'].astype(int)

# cree energie_id

In [345]:
lire2

,Nom,Marque,marque_id,Modèle,Modèle_id,Mise en circulation,Mise_en_circulation_année,Kilométrage (en km),Énergie,Boite de vitesse,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,0,PEUGEOT 107,0,19/05/2009,2009,68965,ESSENCE,MANUELLE,4 Ch,3 MOIS,106g/km,4 290 €
1,RENAULT CAPTUR 1.3 TCe 130 Ch FAP Red Edition,RENAULT,1,RENAULT CAPTUR,1,05/08/2019,2019,22000,ESSENCE,MANUELLE,7 Ch,3 MOIS,128g/km,15 990 €
2,VOLKSWAGEN GOLF 1.0 TSI 115 CONNECT EDITION,VOLKSWAGEN,2,VOLKSWAGEN GOLF,2,11/02/2019,2019,39539,DIESEL,MANUELLE,6 Ch,3 MOIS,107g/km,16 990 €
3,SKODA OCTAVIA 1.6 TDI 16V DSG7 105 ELEGANCE,SKODA,3,SKODA OCTAVIA,3,02/09/2013,2013,134500,DIESEL,AUTOMATIQUE,5 Ch,3 MOIS,102g/km,9 990 €
4,MERCEDES CLASSE GLA 220 d 170ch Sensation 7G-DCT,MERCEDES,4,MERCEDES CLASSE GLA,4,05/04/2018,2018,27000,DIESEL,AUTOMATIQUE,10 Ch,12 MOIS,110g/km,30 290 €
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,OPEL CORSA 1.4 90 Edition,OPEL,17,OPEL CORSA,181,19/01/2016,2016,19000,ESSENCE,MANUELLE,5 Ch,NaN,122g/km,8 490 €
839,RENAULT MEGANE DCI 110 INTENS,RENAULT,1,RENAULT MEGANE,7,30/10/2017,2017,64900,DIESEL,MANUELLE,5 Ch,3 MOIS,95g/km,13 990 €
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,0,PEUGEOT 308,16,28/12/2018,2018,24800,ESSENCE,MANUELLE,6 Ch,3 MOIS,108g/km,17 990 €
841,BMW SERIE 4 Coupé 420dA 184ch Luxury 94510 kms,BMW,6,BMW SERIE 4,30,31/12/2014,2014,94510,DIESEL,AUTOMATIQUE,10 Ch,3 MOIS,121g/km,20 490 €
842,TOYOTA YARIS Hybrid 100H Dynamic 5P,TOYOTA,9,TOYOTA YARIS,10,10/10/2013,2013,84490,HYBRIDE,AUTOMATIQUE,3 Ch,12 MOIS,79g/km,9 490 €

In [346]:
lire['Énergie'].unique()

array(['ESSENCE', 'DIESEL', 'HYBRIDE', 'ELECTRIQUE'], dtype=object)

In [347]:
Énergie_id_dic = dict()
for i in range(len(lire['Énergie'].unique())):
    Énergie_id_dic.update({str(i) : lire['Énergie'].unique()[i] })

In [355]:
Énergie_id_dic

{'0': 'ESSENCE', '1': 'DIESEL', '2': 'HYBRIDE', '3': 'ELECTRIQUE'}

In [357]:
Énergie_id = []
for val in lire2['Énergie'] :
    for key, value in Énergie_id_dic.items(): 
        if val == value :
            Énergie_id.append(int(key))

In [358]:
len(Énergie_id)

842

In [359]:
lire2.insert(9,"Énergie_id",Énergie_id,True)

In [360]:
lire2

,Nom,Marque,marque_id,Modèle,Modèle_id,Mise en circulation,Mise_en_circulation_année,Kilométrage (en km),Énergie,Énergie_id,Boite de vitesse,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,0,PEUGEOT 107,0,19/05/2009,2009,68965,ESSENCE,0,MANUELLE,4 Ch,3 MOIS,106g/km,4 290 €
1,RENAULT CAPTUR 1.3 TCe 130 Ch FAP Red Edition,RENAULT,1,RENAULT CAPTUR,1,05/08/2019,2019,22000,ESSENCE,0,MANUELLE,7 Ch,3 MOIS,128g/km,15 990 €
2,VOLKSWAGEN GOLF 1.0 TSI 115 CONNECT EDITION,VOLKSWAGEN,2,VOLKSWAGEN GOLF,2,11/02/2019,2019,39539,DIESEL,1,MANUELLE,6 Ch,3 MOIS,107g/km,16 990 €
3,SKODA OCTAVIA 1.6 TDI 16V DSG7 105 ELEGANCE,SKODA,3,SKODA OCTAVIA,3,02/09/2013,2013,134500,DIESEL,1,AUTOMATIQUE,5 Ch,3 MOIS,102g/km,9 990 €
4,MERCEDES CLASSE GLA 220 d 170ch Sensation 7G-DCT,MERCEDES,4,MERCEDES CLASSE GLA,4,05/04/2018,2018,27000,DIESEL,1,AUTOMATIQUE,10 Ch,12 MOIS,110g/km,30 290 €
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,OPEL CORSA 1.4 90 Edition,OPEL,17,OPEL CORSA,181,19/01/2016,2016,19000,ESSENCE,0,MANUELLE,5 Ch,NaN,122g/km,8 490 €
839,RENAULT MEGANE DCI 110 INTENS,RENAULT,1,RENAULT MEGANE,7,30/10/2017,2017,64900,DIESEL,1,MANUELLE,5 Ch,3 MOIS,95g/km,13 990 €
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,0,PEUGEOT 308,16,28/12/2018,2018,24800,ESSENCE,0,MANUELLE,6 Ch,3 MOIS,108g/km,17 990 €
841,BMW SERIE 4 Coupé 420dA 184ch Luxury 94510 kms,BMW,6,BMW SERIE 4,30,31/12/2014,2014,94510,DIESEL,1,AUTOMATIQUE,10 Ch,3 MOIS,121g/km,20 490 €
842,TOYOTA YARIS Hybrid 100H Dynamic 5P,TOYOTA,9,TOYOTA YARIS,10,10/10/2013,2013,84490,HYBRIDE,2,AUTOMATIQUE,3 Ch,12 MOIS,79g/km,9 490 €

# cree Boite de vitesse_id

In [362]:
Boite_de_vitesse_id_dic = dict()
for i in range(len(lire['Boite de vitesse'].unique())):
    Boite_de_vitesse_id_dic.update({str(i) : lire['Boite de vitesse'].unique()[i] })
Boite_de_vitesse_id = []
for val in lire2['Boite de vitesse'] :
    for key, value in Boite_de_vitesse_id_dic.items(): 
        if val == value :
            Boite_de_vitesse_id.append(int(key))
lire2.insert(11,"Boite_de_vitesse_id",Boite_de_vitesse_id,True)

In [363]:
lire2

,Nom,Marque,marque_id,Modèle,Modèle_id,Mise en circulation,Mise_en_circulation_année,Kilométrage (en km),Énergie,Énergie_id,Boite de vitesse,Boite_de_vitesse_id,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,0,PEUGEOT 107,0,19/05/2009,2009,68965,ESSENCE,0,MANUELLE,0,4 Ch,3 MOIS,106g/km,4 290 €
1,RENAULT CAPTUR 1.3 TCe 130 Ch FAP Red Edition,RENAULT,1,RENAULT CAPTUR,1,05/08/2019,2019,22000,ESSENCE,0,MANUELLE,0,7 Ch,3 MOIS,128g/km,15 990 €
2,VOLKSWAGEN GOLF 1.0 TSI 115 CONNECT EDITION,VOLKSWAGEN,2,VOLKSWAGEN GOLF,2,11/02/2019,2019,39539,DIESEL,1,MANUELLE,0,6 Ch,3 MOIS,107g/km,16 990 €
3,SKODA OCTAVIA 1.6 TDI 16V DSG7 105 ELEGANCE,SKODA,3,SKODA OCTAVIA,3,02/09/2013,2013,134500,DIESEL,1,AUTOMATIQUE,1,5 Ch,3 MOIS,102g/km,9 990 €
4,MERCEDES CLASSE GLA 220 d 170ch Sensation 7G-DCT,MERCEDES,4,MERCEDES CLASSE GLA,4,05/04/2018,2018,27000,DIESEL,1,AUTOMATIQUE,1,10 Ch,12 MOIS,110g/km,30 290 €
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,OPEL CORSA 1.4 90 Edition,OPEL,17,OPEL CORSA,181,19/01/2016,2016,19000,ESSENCE,0,MANUELLE,0,5 Ch,NaN,122g/km,8 490 €
839,RENAULT MEGANE DCI 110 INTENS,RENAULT,1,RENAULT MEGANE,7,30/10/2017,2017,64900,DIESEL,1,MANUELLE,0,5 Ch,3 MOIS,95g/km,13 990 €
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,0,PEUGEOT 308,16,28/12/2018,2018,24800,ESSENCE,0,MANUELLE,0,6 Ch,3 MOIS,108g/km,17 990 €
841,BMW SERIE 4 Coupé 420dA 184ch Luxury 94510 kms,BMW,6,BMW SERIE 4,30,31/12/2014,2014,94510,DIESEL,1,AUTOMATIQUE,1,10 Ch,3 MOIS,121g/km,20 490 €
842,TOYOTA YARIS Hybrid 100H Dynamic 5P,TOYOTA,9,TOYOTA YARIS,10,10/10/2013,2013,84490,HYBRIDE,2,AUTOMATIQUE,1,3 Ch,12 MOIS,79g/km,9 490 €

# Puissance fiscale (en Ch) -> int et transformer N.C

In [275]:
for i in range(len(lire['Puissance fiscale (en Ch)'])):
    lire['Puissance fiscale (en Ch)'][i] = lire['Puissance fiscale (en Ch)'][i].replace('Ch','')

<ipython-input-275-2e5d201067fd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lire['Puissance fiscale (en Ch)'][i] = lire['Puissance fiscale (en Ch)'][i].replace('Ch','')

In [276]:
[lire['Puissance fiscale (en Ch)'].fillna( method ='ffill', inplace = True)

SyntaxError: unexpected EOF while parsing (<ipython-input-276-822090eed861>, line 1)

In [286]:
df = lire[lire["Puissance fiscale (en Ch)"]=='N.C']
df

,Nom,Marque,marque_id,Modèle,Modèle_id,Mise en circulation,Kilométrage (en km),Énergie,Boite de vitesse,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
12,AUDI Q3 2.0 TDI 140 Ambiente,AUDI,10,AUDI Q3,12,28/05/2013,164000 km,DIESEL,MANUELLE,N.C,3 MOIS,0g/km,12 990 €
81,RENAULT GRAND SCENIC DCI 110 BUSINESS 7 PLACES,RENAULT,1,RENAULT GRAND SCENIC,34,23/12/2015,160100 km,DIESEL,MANUELLE,N.C,3 MOIS,105g/km,6 990 €
82,JAGUAR XE 2.0 d E-Performance Pure BVA8,JAGUAR,22,JAGUAR XE,60,03/08/2015,88000 km,DIESEL,AUTOMATIQUE,N.C,3 MOIS,106g/km,18 990 €
87,CITROEN DS5 2.0 hdi 180 cv sport chic full opt...,CITROEN,8,CITROEN DS5,62,01/06/2015,163000 km,DIESEL,AUTOMATIQUE,N.C,3 MOIS,118g/km,12 990 €
143,RENAULT MEGANE 1.2 TCe 130 cv Bose EDC MOTEUR ...,RENAULT,1,RENAULT MEGANE,7,18/02/2015,83500 km,ESSENCE,AUTOMATIQUE,N.C,3 MOIS,128g/km,10 490 €
219,AUDI A3 1.8 TFSI 180 CV AMBIENTE,AUDI,10,AUDI A3,97,12/04/2013,155000 km,ESSENCE,MANUELLE,N.C,3 MOIS,135g/km,11 490 €
288,NISSAN QASHQAI 1.5 110 dCi 2WD FAP 360,NISSAN,5,NISSAN QASHQAI,5,28/02/2013,163000 km,DIESEL,MANUELLE,N.C,3 MOIS,129g/km,7 490 €
289,FORD KUGA 1.5 TDCi 120 CH ST-LINE 4X2 105000KM,FORD,25,FORD KUGA,145,31/05/2017,100000 km,DIESEL,AUTOMATIQUE,N.C,3 MOIS,124g/km,15 990 €
305,PEUGEOT 208 1.2 PureTech 100 ACTIVE PACK - 10km,PEUGEOT,0,PEUGEOT 208,55,01/11/2021,10 km,ESSENCE,MANUELLE,N.C,NaN,121g/km,17 990 €
326,KIA Cee D II 1.6 CRDi 16V S&S 128 cv,KIA,36,KIA Cee D,156,23/12/2013,170585 km,DIESEL,MANUELLE,N.C,3 MOIS,114g/km,6 590 €
374,PEUGEOT 2008 1.2 130 CH 3000KM,PEUGEOT,0,PEUGEOT 2008,19,25/11/2020,3450 km,ESSENCE,MANUELLE,N.C,NaN,102g/km,19 990 €
381,OPEL VIVARO Fourgon 2.0 CDTI 115 L2H1,OPEL,17,OPEL VIVARO,173,22/04/2010,113000 km,DIESEL,MANUELLE,N.C,3 MOIS,179g/km,11 990 €
474,AUDI A1 SPORTBACK 30 TFSI 116ch S line S tronic 7,AUDI,10,AUDI A1,140,28/12/2018,47500 km,ESSENCE,MANUELLE,N.C,3 MOIS,106g/km,19 490 €
478,VOLKSWAGEN T-ROC TSI 150cv DSG Cabriolet,VOLKSWAGEN,2,VOLKSWAGEN T-ROC,182,17/08/2020,25000 km,ESSENCE,AUTOMATIQUE,N.C,NaN,159g/km,32 990 €
488,AUDI A3 1.2 TFSI 110 S LINE,AUDI,10,AUDI A3,97,01/02/2015,120500 km,ESSENCE,MANUELLE,N.C,NaN,133g/km,12 490 €
490,AUDI A1 1.0 TFSI ULTRA 95 CH AMBITION,AUDI,10,AUDI A1,140,05/01/2018,40200 km,ESSENCE,MANUELLE,N.C,3 MOIS,97g/km,15 990 €
511,NISSAN JUKE 1.6 117 Xtronic N-CONNECTA,NISSAN,5,NISSAN JUKE,71,26/02/2019,32500 km,ESSENCE,AUTOMATIQUE,N.C,3 MOIS,120g/km,14 990 €
557,KIA SPORTAGE 1.7 CRDI 115 ISG ACTIVE 4X2,KIA,36,KIA SPORTAGE,154,10/06/2015,102200 km,DIESEL,MANUELLE,N.C,12 MOIS,135g/km,12 490 €
558,MINI COUNTRYMAN One D 1.6 D DPF 16V 90 cv,MINI,20,MINI COUNTRYMAN,187,30/05/2013,146000 km,DIESEL,MANUELLE,N.C,3 MOIS,115g/km,8 990 €
571,PORSCHE CAYENNE 3.0 TDi 245 DPF V6 Tiptronic S,PORSCHE,27,PORSCHE CAYENNE,150,10/04/2013,109990 km,DIESEL,AUTOMATIQUE,N.C,NaN,189g/km,30 490 €
582,MERCEDES CLASSE E Phase 2 Berline E220 2.2 CDI 7G,MERCEDES,4,MERCEDES CLASSE E,61,06/12/2015,94822 km,DIESEL,AUTOMATIQUE,N.C,NaN,126g/km,20 290 €
585,BMW SERIE 4 435d xDrive 313 M Sport FULL OPTIONS,BMW,6,BMW SERIE 4,30,19/12/2013,180000 km,DIESEL,AUTOMATIQUE,N.C,3 MOIS,146g/km,22 990 €
593,PEUGEOT 508 RXH 2.0 HDI 163 + 37 ELEC,PEUGEOT,0,PEUGEOT 508,148,24/03/2015,176000 km,HYBRIDE,AUTOMATIQUE,N.C,3 MOIS,104g/km,12 990 €
629,CITROEN C1 1.0 CONFORT 68 CH BOITE AUTO,CITROEN,8,CITROEN C1,9,26/09/2011,75000 km,ESSENCE,AUTOMATIQUE,N.C,6 MOIS,106g/km,6 990 €
644,MERCEDES AMG GT 53 AMG 435 ch EQ Boost 4Matic+,MERCEDES,4,MERCEDES AMG GT,219,16/07/2019,60000 km,ESSENCE,AUTOMATIQUE,N.C,NaN,205g/km,94 490 €
645,VOLKSWAGEN GOLF VII 2.0 GTD 184 CH VIRTUAL COC...,VOLKSWAGEN,2,VOLKSWAGEN GOLF,2,26/09/2017,39000 km,DIESEL,AUTOMATIQUE,N.C,3 MOIS,124g/km,26 990 €
663,RENAULT MEGANE 1.6 dCi 130 cv gt line,RENAULT,1,RENAULT MEGANE,7,23/01/2017,45000 km,DIESEL,MANUELLE,N.C,3 MOIS,103g/km,15 990 €
664,PEUGEOT 207 1.6 HDI 92 CH PREMIUM PACK,PEUGEOT,0,PEUGEOT 207,198,24/10/2012,172500 km,DIESEL,MANUELLE,N.C,3 MOIS,110g/km,4 990 €
667,SEAT IBIZA V 1.6 TDI 95 FR,SEAT,12,SEAT IBIZA,21,22/09/2020,11800 km,DIESEL,MANUELLE,N.C,NaN,129g/km,17 990 €
698,PEUGEOT 3008 II 1.6 BlueHDi EAT6 S&S 120,PEUGEOT,0,PEUGEOT 3008,91,22/03/2017,99000 km,DIESEL,AUTOMATIQUE,N.C,3 MOIS,108g/km,18 990 €
699,PEUGEOT 308 II 2.0 BlueHDi S&S 150 FELINE,PEUGEOT,0,PEUGEOT 308,16,23/12/2014,110373 km,DIESEL,MANUELLE,N.C,3 MOIS,105g/km,12 490 €
747,MERCEDES CLASSE A 35 AMG 306ch 4Matic Speedshift,MERCEDES,4,MERCEDES CLASSE A,31,26/02/2019,23200 km,ESSENCE,AUTOMATIQUE,N.C,3 MOIS,164g/km,49 990 €
792,PEUGEOT 3008 II 1.2 Puretech EAT6 130 ACTIVE,PEUGEOT,0,PEUGEOT 3008,91,31/03/2017,50000 km,ESSENCE,AUTOMATIQUE,N.C,3 MOIS,120g/km,20 790 €
802,PEUGEOT 308 1.6 THP 16V 125 active BVM6,PEUGEOT,0,PEUGEOT 308,16,29/07/2014,85236 km,ESSENCE,MANUELLE,N.C,NaN,125g/km,9 690 €

In [368]:
df2 = lire2[lire2["Marque"]=='PEUGEOT']
df2

,Nom,Marque,marque_id,Modèle,Modèle_id,Mise en circulation,Mise_en_circulation_année,Kilométrage (en km),Énergie,Énergie_id,Boite de vitesse,Boite_de_vitesse_id,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,0,PEUGEOT 107,0,19/05/2009,2009,68965,ESSENCE,0,MANUELLE,0,4 Ch,3 MOIS,106g/km,4 290 €
16,PEUGEOT 308 féline II SW 1.6 BlueHDi 120 BVA,PEUGEOT,0,PEUGEOT 308,16,25/04/2016,2016,128500,DIESEL,1,AUTOMATIQUE,1,6 Ch,3 MOIS,102g/km,11 700 €
19,PEUGEOT 2008 1.2 PureTech 110 ch Allure EAT6,PEUGEOT,0,PEUGEOT 2008,19,02/05/2019,2019,27000,ESSENCE,0,AUTOMATIQUE,1,6 Ch,3 MOIS,114g/km,16 990 €
68,PEUGEOT 208 1.6 BlueHDi 75 Style /Gps 29355 Kms,PEUGEOT,0,PEUGEOT 208,55,31/03/2017,2017,29355,DIESEL,1,MANUELLE,0,5 Ch,3 MOIS,90g/km,11 490 €
73,PEUGEOT 308 1.6 HDI 120 CH GT LINE,PEUGEOT,0,PEUGEOT 308,16,30/06/2017,2017,63500,DIESEL,1,MANUELLE,0,6 Ch,3 MOIS,98g/km,15 490 €
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,PEUGEOT 107 1.0 i 68 CH 91000 KM,PEUGEOT,0,PEUGEOT 107,0,28/02/2007,2007,91000,ESSENCE,0,MANUELLE,0,4 Ch,3 MOIS,109g/km,5 190 €
832,PEUGEOT 5008 1.6 HDI 116 CH ALLURE,PEUGEOT,0,PEUGEOT 5008,99,10/10/2014,2014,110250,DIESEL,1,MANUELLE,0,6 Ch,NaN,145g/km,10 490 €
833,PEUGEOT EXPERT 2.0 HDi DOUCLE CABINE 180 CH,PEUGEOT,0,PEUGEOT EXPERT,176,24/05/2019,2019,60000,DIESEL,1,AUTOMATIQUE,1,7 Ch,3 MOIS,155g/km,30 490 €
835,PEUGEOT 5008 BlueHDi 120 Allure Ext. GT Line 7 pl,PEUGEOT,0,PEUGEOT 5008,99,27/04/2017,2017,146950,DIESEL,1,AUTOMATIQUE,1,6 Ch,12 MOIS,112g/km,17 990 €
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,0,PEUGEOT 308,16,28/12/2018,2018,24800,ESSENCE,0,MANUELLE,0,6 Ch,3 MOIS,108g/km,17 990 €

In [290]:
df.shape[0],lire.shape[0]

(34, 843)

In [297]:
len(df['Modèle_id'])

34

In [296]:
for i in range(df.shape[0]):
    print(df['Modèle_id'][i])

KeyError: 0

In [288]:
for i in range(df.shape[0]):
    for y in range(lire.shape[0]):
        print (i,y)
        if (df['Modèle_id'][i] == lire['Modèle_id'][y]) and (lire['Puissance fiscale (en Ch)'][y] != 'N.C'):
            df['Puissance fiscale (en Ch)'][i] = lire['Puissance fiscale (en Ch)'][y]

0 0

KeyError: 0

# Garantie (en mois) -> int et transformer les nan

In [298]:
for i in range(len(lire['Garantie (en mois)'])):
    lire['Garantie (en mois)'][i] = lire['Garantie (en mois)'][i].replace('MOIS','')

<ipython-input-298-9fb6baf740ad>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lire['Garantie (en mois)'][i] = lire['Garantie (en mois)'][i].replace('MOIS','')

AttributeError: 'float' object has no attribute 'replace'

In [300]:
lire['Garantie (en mois)'].unique()

array(['3 ', '12 ', '6 ', nan, '3 MOIS', '6 MOIS', '12 MOIS', '36 MOIS',
       '9 MOIS', '24 MOIS'], dtype=object)

# Emission de CO2 (en g/km) -> int

In [366]:
for i in range(len(lire['Emission de CO2 (en g/km)'])):
    lire['Emission de CO2 (en g/km)'][i] = lire['Emission de CO2 (en g/km)'][i].replace('g/km','')

<ipython-input-366-0cd38bb2050d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lire['Emission de CO2 (en g/km)'][i] = lire['Emission de CO2 (en g/km)'][i].replace('g/km','')

In [367]:
lire['Emission de CO2 (en g/km)'] = lire['Emission de CO2 (en g/km)'].astype(int)

# Prix (en €) -> int

In [364]:
for i in range(len(lire['Prix (en €)'])):
    lire['Prix (en €)'][i] = lire['Prix (en €)'][i].replace('€','').replace(' ','')

<ipython-input-364-45d73e2f7adb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  lire['Prix (en €)'][i] = lire['Prix (en €)'][i].replace('€','').replace(' ','')

In [365]:
lire['Prix (en €)'] = lire['Prix (en €)'].astype(int)

# visualiser le nouveau dataframe

In [369]:
lire

,Nom,Marque,marque_id,Modèle,Modèle_id,Mise en circulation,Kilométrage (en km),Énergie,Boite de vitesse,Puissance fiscale (en Ch),Garantie (en mois),Emission de CO2 (en g/km),Prix (en €)
0,PEUGEOT 107 1.0 69 CH TRENDY 3 PORTES,PEUGEOT,0,PEUGEOT 107,0,19/05/2009,68965,ESSENCE,MANUELLE,4 Ch,3 MOIS,106,4290
1,RENAULT CAPTUR 1.3 TCe 130 Ch FAP Red Edition,RENAULT,1,RENAULT CAPTUR,1,05/08/2019,22000,ESSENCE,MANUELLE,7 Ch,3 MOIS,128,15990
2,VOLKSWAGEN GOLF 1.0 TSI 115 CONNECT EDITION,VOLKSWAGEN,2,VOLKSWAGEN GOLF,2,11/02/2019,39539,DIESEL,MANUELLE,6 Ch,3 MOIS,107,16990
3,SKODA OCTAVIA 1.6 TDI 16V DSG7 105 ELEGANCE,SKODA,3,SKODA OCTAVIA,3,02/09/2013,134500,DIESEL,AUTOMATIQUE,5 Ch,3 MOIS,102,9990
4,MERCEDES CLASSE GLA 220 d 170ch Sensation 7G-DCT,MERCEDES,4,MERCEDES CLASSE GLA,4,05/04/2018,27000,DIESEL,AUTOMATIQUE,10 Ch,12 MOIS,110,30290
...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,OPEL CORSA 1.4 90 Edition,OPEL,17,OPEL CORSA,181,19/01/2016,19000,ESSENCE,MANUELLE,5 Ch,NaN,122,8490
839,RENAULT MEGANE DCI 110 INTENS,RENAULT,1,RENAULT MEGANE,7,30/10/2017,64900,DIESEL,MANUELLE,5 Ch,3 MOIS,95,13990
840,PEUGEOT 308 1.2 PURETECH 130 CV BVM6 GT-LINE,PEUGEOT,0,PEUGEOT 308,16,28/12/2018,24800,ESSENCE,MANUELLE,6 Ch,3 MOIS,108,17990
841,BMW SERIE 4 Coupé 420dA 184ch Luxury 94510 kms,BMW,6,BMW SERIE 4,30,31/12/2014,94510,DIESEL,AUTOMATIQUE,10 Ch,3 MOIS,121,20490
842,TOYOTA YARIS Hybrid 100H Dynamic 5P,TOYOTA,9,TOYOTA YARIS,10,10/10/2013,84490,HYBRIDE,AUTOMATIQUE,3 Ch,12 MOIS,79,9490

In [370]:
lire.dtypes

Nom                          object
Marque                       object
marque_id                     int64
Modèle                       object
Modèle_id                     int64
Mise en circulation          object
Kilométrage (en km)           int32
Énergie                      object
Boite de vitesse             object
Puissance fiscale (en Ch)    object
Garantie (en mois)           object
Emission de CO2 (en g/km)     int32
Prix (en €)                   int32
dtype: object